@model IEnumerable<Jakub_Dyoniziak_web_app.Models.Survey>

<h2>Ankiety</h2>

<ul>
    @foreach (var survey in Model)
    {
        <div>
            <h3>@survey.Title</h3>
            <a asp-controller="Survey"
               asp-action="Details"
               asp-route-id="@survey.Id">
                Zobacz wyniki
            </a>
        </div>
    }
</ul>

@if (User.IsInRole("Ankieter"))
{
    <p>
        <a asp-controller="Survey" asp-action="Create">
            Dodaj nową ankietę
        </a>
    </p>
}